body {
  background-color: white;
}

h1 {
  color: black;
}

#loggedIn {
  visibility: hidden;
  margin: auto;
  width: 30%;
  margin-top: 100px;
  align-items: center;
}

#notLoggedIn {
  visibility: visible;
  margin: auto;
  width: 25%;
  height: 25%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#radioKids {
  margin-top: 15px;
}

#btnAddEvent {
  margin-top: 15px;
  width: 250px;
  height: 50px;
  font-size: 18px;
  color: white;
  background-color: darkslategray;
}

#btnDeleteEvents {
  margin-top: 15px;
  width: 250px;
  height: 50px;
  font-size: 14px;
  color: white;
  background-color: red;
}

#btnLogin {
  margin-top: 15px;
  color: white;
  background-color: darkslategray;
  margin-bottom: 30px;
}

#logo {
  width: 150px;
}